<div *ngIf="_router.url != '/dashboard'" class="uk-footer uk-section uk-section-primary">
  <div class="uk-container uk-container-expand">
    <h6 class="uk-text-center"> Experience Royal Bank Anywhere </h6>

    <div class="uk-text-center uk-flex uk-flex-center uk-grid-small" uk-grid>
      <div class="uk-text-center">
        <img data-src="/assets/images/get-app-appstore@2x.png" width="80" height="auto" alt="iOS App" uk-img>
      </div>
      <div>
        <img data-src="/assets/images/get-app-playstore@2x.png" width="80" height="auto" alt="Android App" uk-img>
      </div>
      <div>
        <img data-src="/assets/images/RoyalBank-Internet-Banking.svg" width="80" height="" alt="Web App" uk-svg>
      </div>
  </div>




<div class="uk-text-center uk-margin-top">
  &copy; 2022 Royal Bank Nigeria
</div>




  </div>
</div>
