<div  class="" >
  <!--Hero-->
      <div data-src="/assets/images/sign-in-home-bg.jpg" data-sizes="(max-aspect-ratio: 1920/1080)" uk-img=""
      class="uk-background-norepeat uk-background-cover uk-background-center-center uk-section uk-flex uk-flex-middle uk-flex-center"
      uk-height-viewport="offset-top: true;" >

            <div class="uk-width-1-3@l uk-width-1-2@s  ">
              <div class="">
                <div class="uk-container uk-container-small">

                    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-bottom-medium">

                      <h3 class="uk-margin-remove-bottom  uk-text-center"> Welcome </h3>
                      <div class="uk-margin-bottom  uk-text-center"> Login to your Royal Bank Account</div>

                      <form >

                      <div class="uk-margin-small">
                        <label class="uk-form-label" for="form-stacked-text">Email or Phone Numnber</label>
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon=""> <i class="fi fi-rr-user"></i> </span>
                            <input class="uk-input uk-form-width-large" type="text" placeholder="email or phone number">
                        </div>
                    </div>

                    <div class="uk-margin-small">
                      <label class="uk-form-label" for="form-stacked-text">Password</label>
                      <div class="uk-inline">
                          <span class="uk-form-icon" uk-icon=""> <i class="fi fi-rr-lock"></i> </span>
                          <input class="uk-input uk-form-width-large" type="password" placeholder="password">
                      </div>
                    </div>

                    <div class="uk-margin">
                      <a routerLink="/dashboard" class="uk-button uk-button-primary uk-width-1-1"> Sign In </a>
                    </div>

                    </form>

                    </div>

                    <div class="uk-text-center">
                      Forgot Password? <a routerLink="/reset" class="uk-button uk-button-link"> Get it Back </a><br>
                      <hr class="uk-hr">
                      Dont have an account?<br class="uk-margin-small">
                      <a [routerLink]="['/register']" class="uk-button uk-button-default uk-button-small"> Open An Account </a>

                    </div>

                </div>
              </div>
            </div>

      </div>
  </div>


