<div  class="" >
  <!--Hero-->
  <div data-src="/assets/images/sign-in-home-bg.jpg" data-sizes="(max-aspect-ratio: 1920/1080)" uk-img=""
  class="uk-background-norepeat uk-background-cover uk-background-center-center uk-section uk-flex uk-flex-middle"
  uk-height-viewport="offset-top: true;" >
    <div class="uk-width-1-1">
      <div class="uk-container">

        <div class="tm-grid-expand uk-grid-margin uk-grid" uk-grid="">
<!--Left Grid-->
          <div class="uk-grid-item-match uk-flex-middle uk-width-1-2@m uk-width-expand@s">
            <div class="uk-panel uk-width-1-1" uk-scrollspy="target: > div; cls: uk-animation-slide-bottom-small; delay: 200">

              <div>
                  <h2 class="uk-h4 uk-margin-remove-bottom uk-text-left@s uk-text-center">
                  Do More, Be More
                </h2>
              </div>

              <div>
                  <h2 class="uk-margin-small-top uk-heading-small uk-text-left@s uk-text-center">
                    Experience Banking Made Easy with <br class=""><span class="uk-text-secondary" > Royal Bank  </span>
                </h2>
              </div>

              <div>
                  <h1 class="uk-margin-remove-top uk-h5 uk-text-left@s uk-text-center">
                  Access world class banking experience
                  and financial services with ease.
                  FOR FREE
                  </h1>
              </div>


<div class="uk-text-left@s uk-text-center">
  <a class="uk-button uk-button-default" routerLink="login"> Login <i class="fi fi-rr-sign-in-alt"></i></a> &nbsp;
  <a class="uk-button uk-button-primary" href="#open-account-modal" uk-toggle> Open Account <i class="fi fi-rr-bank"></i> </a>
</div>

            </div>


          </div>

<!--Right Grid-->
          <div class="uk-grid-item-match uk-flex-middle uk-width-1-2@m uk-width-expand@s">
            <div class="uk-panel uk-width-1-1" uk-scrollspy="target: > div; cls: uk-animation-slide-left-small; delay: 200">
              <div class="uk-text-center">

                <img data-src="/assets/images/Phone-Mockupx-01.png" width="auto" height="auto" alt="" uk-img>

              </div>


            </div>
          </div>








        </div>


      </div>
    </div>
  </div>
</div>
