<!-- MAin Wrapper Div-->
<div data-src="/assets/images/sign-in-home-bg.jpg" data-sizes="(max-aspect-ratio: 1920/1080)" uk-img=""
class="uk-background-norepeat uk-background-cover uk-background-center-center uk-section uk-flex uk-flex-middle uk-flex-center"
uk-height-viewport="offset-top: true;" >
  <!-- Start Of Grid-->
  <div class="">

    <!--Left nav, Only Visible On Laarge Screens-->
      <div class="uk-height-1-1 uk-width-auto uk-visible@l ">
          <div class="sidebar-left uk-animation-slide-left-small">
                  <div class="sidebar-logo uk-flex uk-flex-center uk-text-center">
                      <img class="uk-text-center" alt="Lotus Bank" src="/assets/images/royal-bank-logo.svg" width="110px" >
                  </div>
                  <hr class="uk-hr">


          </div>
      </div>


    </div>
  </div>
